body,html {
	margin: 0;
	padding: 0;
}

.marquee {
	overflow: hidden;
}

.content {
	display: flex; /* 横向排列*/
}

.list {
	overflow: hidden;
	flex-shrink: 0;
}

.list > img {
	width: 100%;
	height: 100%;
}

#preBtn {
	margin-top: 10px;
}